<%- include('partials/navigation') %>

<div>
    <h2>Book Details</h2>
    <p>Title: <%= book.title %></p>
    <p>Author: <%= book.author %></p>
    <p>Publishing Year: <%= book.publishingYear %></p>
</div>
